Package: com.ps.camelapsedplus
Name: CamElapsed+
Depends: mobilesubstrate, preferenceloader, firmware (>= 11.0)
Replaces: org.thebigboss.camelapsedplus
Conflicts: org.thebigboss.camelapsedplus
Provides: org.thebigboss.camelapsedplus
Version: 1.0.0
Architecture: iphoneos-arm
Description: Add sub-seconds to an elapsed time when recording a video in Camera app.
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/camelapsedplus.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/camelapsedplus.json
