Package: com.ps.camelapsedplus
Name: CamElapsed+
Depends: mobilesubstrate, preferenceloader, firmware (>= 11.0)
Replaces: org.thebigboss.camelapsedplus
Conflicts: org.thebigboss.camelapsedplus
Provides: org.thebigboss.camelapsedplus
Version: 1.0.0
Architecture: iphoneos-arm
Description: Add more accurate video time to Camera app.
Author: PoomSmart
Section: Tweaks
